.container {
  margin: auto;
  width: 16.5rem;
}

body {
  background-color: black;
  color: white;
  padding: 2rem;
  font-family: "Bytesized", monospace;
}

.card {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 15rem;
  height: 15rem;
  margin: auto;
  border: solid 1px white;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  overflow-y: none;
}

.top {
  padding: 2rem;
}

.bottom {
  padding-left: 2rem;
  padding-top: 0.50rem;
  background-color: white;
  width: 98%;
  height: 40px;
  margin: auto;
  color: black;
  transform: translate(0, 8.1vh);
}

button {
  color: black;
  background-color: white;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

input {
  background-color: black;
  color: white;
  border: 2px solid white;
  padding-left: 10px;
}

.range {
  -webkit-appearance: none;
  
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background: white;
  cursor: pointer;
  padding: none;
}